#box_1 { 
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #ee3e64;
	border: 2px solid #000;
	outline: 12px solid orange;
	outline-offset: -80px;
}
#box_2 { 
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #44accf;
	border: 2px solid #000;
	outline: 12px solid orange;
	outline-offset: -80px;
}
#box_3 { 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #b7d84b;
	border: 2px solid #000;
	outline: 12px solid orange;
	outline-offset: -80px;
}
#box_4 { 
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #ebde52;
	border: 2px solid #000;
	outline: 12px solid orange;
	outline-offset: -80px;
}
a{
    position: relative;
}